* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: auto;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.main-visual {
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

.logo {
  height: 70px;
}

.nav-item {
  font-size: 16px;
  padding: 0 30px;
  line-height: 70px;
  list-style: none;
  color: #fafafa;
  display: inline-block;
}

.nav-item a {
  color: #fafafa;
  text-decoration: none;
}

.main-visual-text {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
}

.main-visual-text2 {
  padding-top: 20px;
  font-size: 20px;
  color: #fafafa;
}

.portfolio {
  background-color: #eceff1;
}

.heading-title {
  padding-top: 90px;
  font-size: 32px;
  text-align: center;
}

.heading-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 8px auto 0 auto;
  background-color: #ec715f;
}

.heading-text {
  padding: 30px 0;
  font-size: 16px;
  text-align: center;
}

.portfolio-img {
  width: 920px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.img1 {
  background-image: url(img/sketch.jpg);
}

.img2 {
  background-image: url(img/websuku.png);
}
.img3 {
  background-image: url(img/write.jpg);
}
.img4 {
  background-image: url(img/webcamp.png);
}
.img5 {
  background-image: url(img/talk.jpg);
}
.img6 {
  background-image: url(img/webcamp-mother.png);
}

.production {
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 250px;
  margin: 10px 10px 0 0;
}

.production:nth-child(-n + 3) {
  margin-top: 0;
}

.production:nth-child(3n) {
  margin-right: 0;
}

.feature-contents {
  width: 980px;
  padding-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.content {
  width: 320px;
  height: auto;
  margin-right: 10px;
  text-align: center;
}

.content:last-child {
  margin-right: 0;
}

.content-title {
  font-size: 20px;
  color: #000000;
  margin: 10px 0;
}

.content-text {
  font-size: 16px;
  color: #000000;
  text-align: left;
}

.icon {
  font-size: 60px;
  margin: 0 auto;
}

.profile {
  background-color: #eceff1;
}

.face-contents {
  width: 1024px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.left-content {
  width: 50%;
}

.face {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: url(img/my-icon.jpg);
  border-radius: 50%;
}

.right-content {
  width: 50%;
}

.contact-contents {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.infomation {
  width: 200px;
  margin: 0 auto;
}

.infomation-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.information-text {
  text-decoration: underline;
}

.mail {
  padding-bottom: 20px;
}

.sns-content {
  width: 200px;
  margin: 0 auto;
}

.sns-title {
  font-size: 20px;
  margin: 0 auto;
}

.sns-icon {
  font-size: 50px;
  padding-right: 20px;
  text-align: center;
}

.sns-icon:last-child {
  padding-right: 0;
}

footer {
  height: 60px;
  background-color: #ec715f;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
  text-align: center;
  line-height: 60px;
}
