* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: auto;
  background-color: #ec715f;
}

.header-group {
  width: 1024px;
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 70px;
}

.nav-item {
  list-style: none;
  color: white;
  display: inline-block;
}
