* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  width: auto;
  background-color: #ec715f;
}

.header-group {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  height: 70px;
}

.nav-item {
  font-size: 16px;
  margin: 0 30px;
  line-height: 70px;
  list-style: none;
  color: #fafafa;
  display: inline-block;
}
